.Home {
    text-align: center;
  }
  
  .Home-header {
    position:fixed;
    background-color: #282c34;
    height: 10vh;
    width: 100vw;
    display: flex;
    z-index: 1;
    
  }

  .home-sider {
    height: 100vh;
    margin-top: 10vh;
  }