

.form-login {
    /* background-color: rgb(200, 29, 29); */
    background-image: url('background.jpeg');
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: white;
    height: 40vh;
    width: 38vw;
    /* text-align: center; */
}

.header {
    background-color: white;
    text-align: center;
    height: 6vh;
    font-size: larger;
    font-weight: 500;
    font-style: normal;
}

.content-login {
    height: 25vh;
    width: 38vw;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.user {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.input-user {
    width: 60%;
    /* margin: 2vh; */
    /* background-color: beige; */
    /* justify-items: center; */
}

.pass {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.input-password {
    width: 60%;
    /* margin: 2vh; */
    /* background-color: beige; */
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}